@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: rgba(25, 118, 210, 1);
  --font-roboto: "Roboto", sans-serif;
  --gray: #aeaeae;
  --borderRadius: "4px";
  --boder: "2px";
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-roboto);
}
