@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #1976d2;
  --font-roboto: "Roboto", sans-serif;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-roboto);
}
